# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
find_bleak_bridge.py
.trae
sync
dist
build_nuitka.bat
build.info
building/

# Virtual Environment
venv/
env/
ENV/
.venv
test/
# IDE
.vscode/
.idea/
*.swp
*.swo
*~
data/
bak/
test/
preparedata/
# OS
.DS_Store
Thumbs.db
.dbg/
hypebeat.db-*
migrate*
PoCs/

# Logs
*.log

# Project specific
*.db
*.sqlite
*.sqlite3
test_bleak.py
test_chart.py
test_heart_rate_crash.py
test_trend_chart.py
nuitka-crash-report.xml
todolist.md
tkinter_DigitalWatch.pyw
count_lines.py
123.md
hr_anomaly_detection.py
.dbg/debug_logs.json
.dbg/debug_logs2.json
